#signup-form{
  margin: 4rem auto;
  width: 50%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 990px) {
  #signup-form{
    margin: 3rem auto;
    width: 90%;
  }
}

.error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }

  
  ul{
    list-style: none;
  }